name: create-tag

on:
  pull_request:
    types: [closed]
    branches:
      - main

permissions:
  contents: read
  pull-requests: write

jobs:
  create-tag:
    if: >
      github.event.pull_request.merged == true &&
      contains(github.event.pull_request.labels.*.name, 'autorelease: pending')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
          ref: main
          fetch-depth: 0
      - name: Create tag
        run: |
          # Ensure we're tagging the latest main
          git checkout main
          git pull --ff-only origin main
          git fetch --tags --force

          TAG=$(jq -r '.["."]' .release-please-manifest.json)
          echo "Creating tag $TAG"
          git tag "v${TAG}"
          git push origin "v${TAG}"
      - name: Unlabel PR
        run: |
          gh pr edit ${{ github.event.pull_request.number }} --remove-label "autorelease: pending"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
